html, body { width:100%; height:100%; font-family: monospace, Arial, sans-serif; font-weight: 300; }

body { overflow: hidden; }

* { margin:0px; padding:0px; box-sizing:border-box; }

a:hover {
	cursor: pointer;
	text-decoration: none;
}

/*textarea, input, button { font-family: "Helvetica", Arial, sans-serif; font-weight: 100; }*/

h1, h2, h3, h4, h5, h6 { font-weight: 100; }

/* Colors

	black - 1F1F21
	orange - FD7C4D
	white - FFFFFF
	grey - DDDDDD
	blue - 3F6F8C
  Red - D9666F

*********************/

/* Blinking cursor
*****************/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;

    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* Commons
*********************/
.pull-right { float:right; }

.pull-left { float:left; }

#appHolder { width:100%; height:100%; overflow: hidden; }

.tuts-btn { background:#D9666F; padding:7px 7px 5px; border:0px; color:#FFF; line-height: 1; vertical-align: middle; }
.tuts-btn:active { background:#DDD; color:#555; }

/* Sidebar
*********************/
.sidebar { width:35%; height:100%; font-weight:200 !important; border-left:5px solid #1F1F21; }
.sidebar .title { width:100%; height:25px; background:#232426; padding:5px 5px; }
.sidebar .title p { color:#FFF; font-weight: 400; }

.sidebar .history { width:100%; height:35%; height:-moz-calc(38% - 25px); height:-webkit-calc(38% - 25px); height:-calc(38% - 25px); background:#CCC; }
.sidebar .history pre { width:100%; height:100%; display:block; }

.sidebar .text-editor-buttons-holder { width:100%; height:4%; background:#AAA; }
.sidebar .text-editor-buttons-holder .buttons-holder { width:100%; height:100%; }
.sidebar .text-editor-buttons-holder .buttons-holder button { width:33.33333%; height:100%; background:#D9666F; border:none; float:left; color:#FFF; cursor:pointer; font-size:1.2em; }
.sidebar .text-editor-buttons-holder .buttons-holder button:active { background: #DDD; color:#1F1F21; }
.sidebar .text-editor-buttons-holder .buttons-holder button:not(:last-child) { border-right: 3px solid #1F1F21; }

.sidebar .text-editor-holder { width:100%; height:55%; height:-moz-calc(58% - 25px); height:-webkit-calc(58% - 25px); height:-calc(58% - 25px);  }
.sidebar .text-editor-holder .text-editor { width:100%; height:100%; background-color:#2F3134; color:#FD7C4D; padding:10px; resize:none; border:none; }

/* Game Holder
*********************/
.game-holder { width:65%; height:100%; background:#E1F2F2; position:relative; }

.game-holder .navbar { margin:0px; border-radius: 0; background: #3F6F8C; border:0; font-family: "Helvetica", Arial, sans-serif; }
.game-holder .navbar .navbar-brand { color:#FFF; }
.game-holder .navbar .nav > li > a { color:#FFF; }
.game-holder .navbar .nav > li.active > a  { color:#555; }

.game-holder .game-content-holder { width:100%; height:85%; height:-moz-calc(100% - 50px); height:-webkit-calc(100% - 50px); height:calc(100% - 50px); }

/* Game Tutorials
*********************/

/* Tuts modal user *********/
.tutorial-holder { width:100%; height:100%; background:rgba(255,255,255,0.6); position:absolute; z-index: 100; }
.tutorial-holder .tutorial-box { width:80%; height:45%; background:#FFF; border:5px solid #D9666F; position:relative; margin: 0 auto; top:30%; box-shadow:0 0 30px #DDD; font-family: "Helovetica", Arial, sans-serif; font-weight: 600; }
.tutorial-holder .tutorial-box .tutorial-box-content { width:100%; height:80%; padding:50px 40px; background:#D9666F; text-align: center; color:#FFF; }
.tutorial-holder .tutorial-box .tutorial-box-content h1,
.tutorial-holder .tutorial-box .tutorial-box-content h2,
.tutorial-holder .tutorial-box .tutorial-box-content h3,
.tutorial-holder .tutorial-box .tutorial-box-content h4,
.tutorial-holder .tutorial-box .tutorial-box-content h5,
.tutorial-holder .tutorial-box .tutorial-box-content h6 { margin-bottom: 25px; display: inline; }

.tutorial-holder .tutorial-box .tutorial-box-footer { width:100%; height:20%; padding:10px; position: relative; text-align: center; }

/* CodeMirror Customs
*********************/
.CodeMirror {
	height: 100%;
}

.monokai-str {
	color: #e6db74;
}

.monokai-line {
	background: #373831;
}

.monokai-key {
	color: #f92672;
}

.monokai-link {
	color: #ae81ff;
}

.monokai-comm {
	color: #75715e;
}

.monokai-def {
	color: #9effff;
}

.white,
a.monokai-comm:active,
a.monokai-comm:focus,
a.monokai-comm:hover {
	color: #FFF;
}


/* Home
********************/
.home-container {
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(45, 45, 45);
	width: 100%;
	height: 100%;
}

.tag-line {
	font-size: 50px;
	margin-top: 8%;
}

.home-input {
	width: 80%;
	margin: 10% auto 30px;
	font-size: 0;
}

.home-input input {	
	padding: 10px;
	border: none;
}

.home-input span,
.home-input input {
	font: 500 30px/30px monospace, sans-serif;
}

.login-wrapper ul li {
	list-style: disc;
}

#login-wrapper {
	margin-top: 20px;
}


/* Desert Theme for Prettify
*********************/

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
